/* *, */
/* *::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
} */

html {
  box-sizing: border-box;
  font-size: 100%;
  font-family: sans-serif;
}

header {

}

header div img {
  size: 10%;
}

.main_content {
  padding: 7%;
}

nav a {
  text-decoration: none;
  color: black;
}

nav ul {
  list-style-type: none;
}

nav li {
  display: inline;
}

.header_container {
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid black;
  margin-left: 7%;
  margin-right: 7%;
  margin-bottom: 15px;
  align-items: center;
}

/* .header_section {} */

.header_section ul li {
  font-family: sans-serif;
  font-size: 11px;
  display: inline-block;
}

.header_section ul {
  display: flex;
  gap: 30px;
}

.logo {
  display: flex;
  padding-top: 5px;
  padding-bottom: 5px;
}

.logo img {
  height: 30px;
}

.logo span {
  line-height: 30px;
  font-size: 20px;
  font-family: sans-serif;
  text-transform: uppercase;
  letter-spacing: 7px;
  padding-left: 10px;
}

.search_bar {
  background-image: url("./assets/UX-HTML-CSS/1200px-Google_Magnifying_Glass.svg.png");
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: top right;
}

.cart {
  font-size: 11px;
  font-family: sans-serif;
  margin-left: 30px;
}

header div {
  text-align: center;
}

header form {
  text-align: right;
}

.about_us_1 {
  float: left;
  height: 15rem;
  padding-top: 1rem;
  padding-right: 4rem;
}

.about_us_2 {
  height: 22rem;
  position: relative;
  float: right;
}

.about_content {
}

.product_image {
  height: 240px;
  width: 100%;
}

.contact_us {

}

.our_products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 65px;
  row-gap: 70px;
  padding-top: 40px;
}

.product_name {
  border-bottom: 2px solid black;
  padding-right: 5rem;
  padding-bottom: 0.25rem;
}

.button {
float: right;
}

.price {
  float: right;
}

.learn {
  color: hsl(29, 74%, 45%);
  font-size: 12px;
  text-decoration: none;
  border-bottom: 1px solid hsl(29, 74%, 45%);
}

.product_container button {
  color: white;
  background-color: hsl(29, 74%, 45%);
  font-size: 12px;
}

.footer_container {
  display: flex;
  background-color: hsl(29, 74%, 45%);
  border: none;
}

.product_container {

}

.social_media {

}

h2 {
  border-bottom: 3px solid black;
  width: 60%;
  padding-top: 2rem;
}

.about_content p {
  width: 60%;
}